name: Debug Arquivos

on: [push, workflow_dispatch]

jobs:
  debug:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: MOSTRAR ARQUIVOS (Debug)
      run: |
        Write-Host "--- LISTA DE TODOS OS ARQUIVOS NO REPOSITORIO ---"
        Get-ChildItem -Recurse | Select-Object FullName
        Write-Host "--- FIM DA LISTA ---"
        
