name: Build Windows Final

on:
  push:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Configurar MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Compilar Projeto (Release x64)
      # Aqui está a correção: apontamos direto para o arquivo .vcxproj na pasta Source
      run: msbuild Source/DS4Emulator.vcxproj /p:Configuration=Release /p:Platform=x64

    - name: Upload do Executável
      uses: actions/upload-artifact@v4
      with:
        name: DualShock4-Emulator-Baixar
        path: |
          **/*.exe
          **/*.dll
          !**/obj/**
